body{
  background: #000;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  background-color: #9fb5ca;
  border-radius: 5px;
  max-width: 300px;
  margin: 10% auto;
}

.calculator input[type="text"] {
  grid-column: 1 / span 4;
  height: 40px;
  font-size: 24px;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #fcfcfc;
  outline: none;
}

.calculator button {
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #5f2694;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.calculator button:hover {
  background-color: #3e8e41;
}

.calculator button:active {
  background-color: #168681;
}
